<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="sqlServerConnection" value="Data Source=DESKTOP-CIE264M\SQL2014;Initial Catalog={0};Integrated Security=True;MultipleActiveResultSets=True"/>
    <add key="sqlServerDatabase" value="V_CistemGas"/>
    <add key="sqlServerTable" value="TRAMA"/>
    <add key="sqlServerKey" value="TRAMAID"/>
    <add key="sqlServerScript" value="select 
                                      'CistemGas' DatabaseSource
                                      ,T.FechaCarga fecha
                                      , T.Importe venta
                                      , T.Volumen volumen
                                      , T.Precio precioPorLitro
                                      , E.Nombre grupo01 -- Estacion
                                      , P.Nombre grupo02 -- Producto
                                      , E.Ciudad grupo03 -- (Zona) Ciudad
                                      , E.Estado grupo08 -- Estado
                                      , T.BombaID grupo09 --Bomba
                                      , T.MangueraID grupo12 -- Mangera
                                      from tramaBig T
                                      left join Estacion E ON T.EstacionID = E.EstacionID
                                      left join Producto P ON T.ProductoID = P.ProductoID"/>

    <add key="mysqlServerConnection" value="server=localhost;port=3306;database=gaslight;user=root;password=root;"/>
    <add key="mysqlServerDatabase" value="gaslight"/>
    <add key="mysqlServerTable" value="transacciones"/>
    <add key="mysqlServerKey" value="id_transaccion"/>

    <add key="mongoDBServerConnection" value="mongodb://localhost"/>
    <add key="mongoDBServerDatabase" value="newCubo"/>
    <add key="mongoDBServerTable" value="transacciones"/>
    <add key="mongoDBServerKey" value=""/>
  </appSettings>
</configuration>




